body { 
    font-family: arial;
    background-color: lightblue;
}

h1 {
    color: #0000ff;
}

span>h3 {
    font-size: 10 px;
}

#navagation li {
    display: inline;
    margin: 0 px 30 px;
}

img {
    border-radius: 50%;
}